i {
  border: inherit;
  background-color: inherit;
  color: #ffff;
}

i:hover {
  border: none !important;
  background-color: inherit;
  color: #ffff;
}

button:hover {
  border: none !important;
  background-color: inherit;
  color: black;
}

button {
  border: none !important;
  background-color: inherit;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-self: left;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

.banner {
  height: 17vh;
  text-align: center;
  margin-left: 26%;
  margin-top: 12%;
  opacity: 0.5;
}

mat-sidenav {
  width: 40vh;
  position: fixed;
  background-color: #ffff;
}

.circle {
  border-radius: 50%;
  margin: 0%;
  width: 12vh;
}

.with-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.no-shadow {
  box-shadow: none !important;
}

.header-box-shadow {
  background-color: #00D4B3;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.header-box-shadow img {
  height: 7vh;
  margin: 0%;
}

.bottom-to-top {
  border: 0px;
  border-style: solid;
  border-image: linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%;
}

.imgIcon {
  margin-right: 8%;
  margin-left: 0%;
}

.premiumIcon {
  margin-right: 5%;
}

mat-sidenav-container {
  margin: 0%;
  padding: 0%;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.mat-sidenav-container {
  position: fixed;
}

.nav-text {
  color: #ffffff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 24px;
  font-weight: 500
}
