<mat-sidenav-container>
  <mat-sidenav #sidenav [(mode)]="over"  >
    <div >
      <div>
        <a>
          <img class="circle" src="{{photo}}" width="100">
        </a>
      </div>
    </div>
    <div >
      <div>
        <p>{{userName}}</p>
        <p>{{email}}</p>
      </div>
    </div>
    <hr>
    <div>
      <mat-nav-list>
        <a mat-list-item >
          <img  class="imgIcon" src="../../../assets/img/home.png">
          <button type="button" routerLink='/Inicio' routerLinkActive="active">Inicio</button> 
          <!-- va a inicio, debería ser el del mapa -->
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item >
          <img  class="imgIcon" src="../../../assets/img/eventos.png">
          <button type="button" routerLink='/Eventos' routerLinkActive="active">Eventos</button>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item >
          <img class="imgIcon" src="../../../assets/img/guardados.png">
          <button type="button" routerLink='/Guardados' routerLinkActive="active">Guardados</button>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item >
          <img class="imgIcon" src="../../../assets/img/perfil.png">
          <button type="button" routerLink='/Perfil' routerLinkActive="active">Perfil</button>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item >
          <img class="premiumIcon" src="../../../assets/img/premium.png">
          <button type="button" routerLink='/Premium' routerLinkActive="active">Premium</button>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item >
          <img class="imgIcon" src="../../../assets/img/cerrarsesion.png">
          <button type="button" (click)="logoutAuth()">  Cerrar sesión</button>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header-box-shadow">
      <button mat-icon-button (click)="sidenav.toggle()" >
        <i class="fas fa-bars"></i>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

