<header class="pb-xl-5">
  <div class="row m-0">
    <div class="col-2 col-xl-1 p-3 p-xl-4 pl-xl-5">
      <button type="submit" class="hed-btn" (click)="return()">
        <i class="fas fa-arrow-left hed-i"></i>
      </button>
    </div>
    <div class="col-10 p-0 pt-3 pt-xl-4">
      <p class="hed-text">Lo último...</p>
    </div>
  </div>
</header>

<div class="row m-0">
  <div class="col-10 col-xl-6 m-auto pt-4 pb-xl-5">
    <p class="text-center name-text">Permite acceder a tu ubicación para encontrar todos los lugares y actividades
      disponibles cerca de ti</p>
  </div>
  <div class="col-10 col-xl-5 m-auto py-4 py-xl-5">
    <img class="img-fluid" src="../../../assets/img/illustration1.png" alt="">
  </div>
  <div class="col-7 col-xl-2 m-auto pt-5 pt-xl-5 px-0">
    <button class="col-12 btn btn-primary" (click)="intro()">ENTENDIDO</button>
  </div>
</div>