.card{
    margin: 5%;
}
h3, h4, h5{
    font-family: 'Roboto', 'sans-serif';
}
h3{
    color: #00D4B3;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.card-text{
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}
h5{
    font-size: 14px;
    line-height: 16px;
}
.asistire, .favorito, .basura, .editar{
    border: none;
}
.fa-heart{
    color: #7E57C2;
    text-align: right;
    margin-left: 8%;
}
.fa-check-circle{
    color: #00D4B3;
}
.fa-trash, .fa-pencil-alt{
    color: rgba(0, 0, 0, 0.54);
}
.options{
    border: none !important;
    background-color: none !important;
    text-align: right;
    margin:  0% 0% 4% 7%;
}
.search{
    margin-top: 18%;
    margin-left: 5%;
}
