<div class="row m-0">
  <div class="col-auto m-auto">
    <img src="../../../assets/img/Logo-Splash.png" class="img-fluid img-splash" alt="Responsive image">
  </div>
</div>
<div class="row m-0">
  <div class="col-auto m-auto">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <span>Conecta con el ecosistema emprendedor</span>
        </div>
        <div class="carousel-item">
          <span>Conecta con el ecosistema emprendedor</span>
        </div>
        <div class="carousel-item">
          <span>Conecta con el ecosistema emprendedor</span>
        </div>
      </div>

      <ol class="carousel-indicators">
        <i class="fas fa-circle" data-target="#carouselExampleIndicators" data-slide-to="0"></i>
        <i class="fas fa-circle" data-target="#carouselExampleIndicators" data-slide-to="1"></i>
        <i class="fas fa-circle" data-target="#carouselExampleIndicators" data-slide-to="2"></i>
      </ol>
      <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
  </div>
</div>


<label>
  <input type="checkbox" (change)="toggleVisibility($event)">
  Aceptar Términos y condiciones <a href="">ver</a>
</label>


<br>
<button type="submit" class="btn" [disabled]="!marked" (click)="submit()">CREA TU CUENTA</button>
<br>

<button>Ingresa aquí</button>