    <app-navbar></app-navbar>
    <app-event-detail></app-event-detail>
  <div class="modalP">
      <button type="button" class="btn btn-primary large createEvent rounded-circle " data-toggle="modal" data-target="#exampleModalLong">
          <i class="fas fa-plus"></i>
        </button>
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Crea un nuevo evento<br><span class="infoCampo">Todos los campos son obligatorios</span>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="this.eventService.form" (ngSubmit)="onSubmit()" form-control form-control-sm>
                        <input type="hidden" formControlName="$key">
                          <div class="form-group">

                            <label>Nombre de evento</label>
                              <input formControlName="nombreEvento" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.nombreEvento.errors}">
                              <div class="invalid-feedback" *ngIf="submitted && formControls.nombreEvento.errors">Campo requerido</div>
                            
                            <label>Lugar/Dirección</label>
                              <input formControlName="lugar" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.lugar.errors}">
                              <div class="invalid-feedback" *ngIf="submitted && formControls.lugar.errors.required">Campo requerido</div>
                            
                            <label>Fecha</label>
                              <input formControlName="fecha" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.fecha.errors}">
                              <div class="invalid-feedback" *ngIf="submitted && formControls.fecha.errors.required">Campo requerido</div>
                            
                            <label>Horario</label>
                              <input formControlName="horario" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.horario.errors}">
                              <div class="invalid-feedback" *ngIf="submitted && formControls.horario.errors.required">Campo requerido</div>
                          
                              <label>Descripción</label>
                              <input formControlName="descripcion" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.descripcion.errors}">
                              <div class="invalid-feedback" *ngIf="submitted && formControls.descripcion.errors.required">Campo requerido</div>
                          </div>
                          <div class="modal-footer">
                              <div class="form-group">
                                  <input type="submit" class="btn btn-primary crearEvent" value="Crear evento">
                                </div>
                          </div>
                          <div class= "alert alert-info center" *ngIf="showSuccessMessage">
                              Guardado con exito
                          </div>
                    </form>
               </div>
            </div>
        </div>
      </div>
    </div>
<div class="footerDiv"></div>