<div class="con-body">

  <header class="pb-xl-5">
    <div class="row m-0">
      <div class="col-2 col-xl-1 p-3 p-xl-4 pl-xl-5">
        <button type="submit" class="hed-btn" (click)="return()">
          <i class="fas fa-arrow-left hed-i"></i>
        </button>
      </div>
      <div class="col-10 p-0 pt-3 pt-xl-4">
        <p class="hed-text">Premium</p>
      </div>
    </div>
  </header>

  <div class="row m-0">
    <div class="col-10 m-auto pt-5 pb-xl-5 text-center">
      <p class="text-center text-1 text">Lleva tu emprendimiento al siguiente nivel</p>
    </div>
    <div class="col-6 col-xl-2 m-auto pt-4 pt-xl-5 px-0">
      <button class="col-12 btn btn-primary" (click)="splash()">HAZME PREMIUM</button>
    </div>
    <div class="col-9 m-auto col-xl-11 p-0 pt-4 text-center">
      <p class="text text-center text-3">¿Qué puedes hacer con Premium?</p>
    </div>
    <div class="col-5 m-auto col-xl-11 p-0 pt-4 text-center">
      <img class="img-fluid" src="../../../assets/img/illustration3.1.png" alt="">
    </div>
    <div class="col-9 m-auto col-xl-11 p-0 pt-4 text-center">
      <p class="text text-center text-2">Obtén créditos especiales en el Banco Santander</p>
    </div>
    <div class="col-9 m-auto col-xl-11 p-0 pt-4 text-center">
      <p class="text text-center text-3">Beneficios exclusivos para emprendedores de infoemprende</p>
    </div>
    <div class="col-5 m-auto col-xl-11 p-0 pt-4 text-center">
      <img class="img-fluid" src="../../../assets/img/illustration4.png" alt="">
    </div>

    <div class="col-9 m-auto col-xl-11 p-0 pt-4 text-center">
      <p class="text text-center text-2">Entérate primero de los eventos</p>
    </div>
    <div class="col-9 m-auto col-xl-11 p-0 pt-4 text-center">
      <p class="text text-center text-3">Cupo asegurado para todos los eventos, donde conectarás con la comunidad y
        mostrarás tu
        startup</p>
    </div>
    <div class="col-5 m-auto col-xl-11 p-0 pt-4 text-center">
      <img class="img-fluid" src="../../../assets/img/illustration2.3.png" alt="">
    </div>


    <div class="col-9 m-auto col-xl-11 p-0 pt-4 text-center">
      <p class="text text-center text-2">Disfruta de descuentos exclusivos</p>
    </div>
    <div class="col-9 m-auto col-xl-11 p-0 pt-4 text-center">
      <p class="text text-center text-3">Descuentos en plataformas como Amazon, Finanzas y otras que te ayudarán a ti y
        a tu
        startup</p>
    </div>
    <div class="col-5 m-auto col-xl-11 p-0 pt-4 text-center">
      <img class="img-fluid" src="../../../assets/img/illustration5.png" alt="">
    </div>

    <div class="col-8"></div>

    <div class="col-6 col-xl-2 m-auto pt-4 pt-xl-5 px-0">
      <button class="col-12 btn btn-primary" (click)="splash()">HAZME PREMIUM</button>
    </div>
  </div>

</div>