<!-- <div style="padding: 10px 0">
  <div>
    <p>Inicio</p>  
    <label style="display: inline-block; width: 60px; color: #FFF">Start</label>
      <input type="text" [(ngModel)]="start" />
  </div>
  <div>
    <p>Final</p>
      <label style="display: inline-block; width: 60px; color: #FFF">Finish</label>
      <input type="text" [(ngModel)]="finish" />
  </div>
</div>
<app-wall appId="8zxn9yuDOVdnRTHGZyBl" appCode="NcpsJVMjgLkGwXlRAP53Rw"  [start]="start" [finish]="finish" width="60%" height="530px"></app-wall> -->
<div style="padding: 10px 0">
    <input type="text" placeholder="Buscar lugar" [(ngModel)]="query" />
    <button (click)="map.places(query)">Buscar</button>
</div>
<here-map
    #map
    appId="VGLR85mWlnbk1IC32Sdf"
    appCode="B_vLITHwu1cJU6qp1tsBwg"
    lat="-33.4726900"
    lng="-70.6472400"
    width="75%"
    height="530px">
</here-map>